.SideMenu-Root {
	position: relative;
	background: #3D41D7;
	box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
	border-radius: 20px;
	width: 294px;
}

.SideMenu-Waves {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	overflow: hidden;

	img {
		position: absolute;
		left: -39px;
		bottom: -40px;
		transform: rotate(-3deg);
		opacity: 0.1;
	}
}