
$breakpoints: (
	xs: 0,
	sm: 576px, /* (landscape phones, 576px and up) */
	md: 768px, /* (tablets, 768px and up) */
	lg: 992px, /* (desktops, 992px and up) */
	xl: 1200px, /* (large desktops, 1200px and up) */
	xxl: 1400px /* (larger desktops, 1400px and up) */
);