@import "theme/variables.scss";
@import "theme/mixins.scss";
@import "theme/normalize.css";

@import "theme/components/sidemenu.scss";
@import "theme/components/registration.scss";
@import "theme/components/login.scss";

body, html {
	height: 100%;
}

#root {
	height: inherit;
}

.app {
	display: flex;
	height: inherit;
	padding: 30px 48px 34px 30px;
	box-sizing: border-box;
}

main.content {
	margin-left: 54px;
	width: 100%;
}