@import "theme/variables.scss";
@import "theme/normalize.css";
@import "theme/sidemenu.scss";

body, html {
	height: 100%;
}

#root {
	height: inherit;
}

.app {
	display: flex;
	height: inherit;
	padding: 30px 48px 34px 30px;
	box-sizing: border-box;
}

main.content {
	margin-left: 54px;
}